*{
  margin: 0;
  padding: 0;
}

.page-style{
  width: 95vw;
  height: 110vh;
  overflow: auto;
  scroll-behavior: smooth;
}
.page-style::-webkit-scrollbar{
  display: none;
}

.navbar-container{
  height: 95px;
  color: #fff;
  background-color: #234050;
}
.navbar-container h2{
  margin: 0;
  text-align: center;
}

.Footer{
  height: 50px;
  width: 100%;
  background-color: #234050;
}