.gallery-container{
  width: 100%;
  margin: 0;
  display: grid;
}

.gallery-hero{
  width: 100%;
  height: 150px;
  text-align: center;
  border-bottom: #000 1px solid;
}

.gallery{
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
}

.Gallery-Assambled{
  scroll-behavior: smooth;
  width: 80%;
  overflow: auto;
  border: 1px solid #000;
}
.Gallery-Assambled::-webkit-scrollbar{
  display: none;
}

.meme-form{
  display: grid;
  grid-template-rows: 50px;
  justify-content: center;
  align-items: flex-start;
}
.meme-form input{
  width: 200px;
}

.Meme-Card{
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100px;
}

.meme-lister{
  list-style: none;
  display: grid;
  grid-gap: 20px;
  grid-template: repeat(auto-fill, 100px) / repeat(auto-fill, 100px);
}

.Actual-Meme{
  cursor: pointer;
  height: 100px;
  width: 100px;
  object-fit: cover;
}
.Meme-Card:hover{
  transform: scale(1.2);
}