body::-webkit-scrollbar{
  display: none;
}

.gallery-container{
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.gallery-hero{
  width: 100%;
  height: 200px;
  text-align: center;

  /* border: 1px solid #000; */
}

.gallery{
  width: 100%;
  height: 500px;
  display: grid;
  grid-template-columns: 250px 1fr;
  justify-content: center;
}

.Gallery-Assambled{
  scroll-behavior: smooth;
  width: 100%;
  overflow: auto;
  display: grid;
  grid-gap: 20px;
  grid-template: repeat(auto-fill, 100px) / repeat(auto-fill, 100px);
}
.Gallery-Assambled::-webkit-scrollbar{
  display: none;
}

.meme-form{
  display: grid;
  grid-template-rows: 50px;
  justify-content: center;
  align-items: flex-start;
}
.meme-form input{
  width: 150px;
}

.Meme-Card img{
  cursor: pointer;
  height: 100%;
  width: 100%;
}