.NewMeme-Container{
  margin: 4em auto;
  width: 800px;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid black;
}

.NewMeme-img{
  display: flex;
  justify-content: center;
  align-items: center;
}

.NewMeme-Form{
  display: grid;
  grid-row-gap: 10px;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: repeat(5, 50px);
  align-items: center;
  text-align: center;
  position: relative;
}
.NewMeme-Link{
  color: #000;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
}

.edit-meme-container{
  position: relative;
  width: 170px;
  height: 300px;
}
.edit-text{
  font-weight: 600;
  z-index: 2;
}

.Submit-button{
  font-weight: 600;
  line-height: 2em;
  font-size: 20px;
  border: 0;
  outline: 0;
  border-radius: 5px;
  padding-bottom: 5px;
  box-shadow: 2px 2px 2px #ccc;
  background-color: chartreuse;
}
.Submit-button:active{
  transform: scale(0.8);
  transition-duration: 1s;
}