body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: skyblue;
}

.container{
  height: 600px;
  width: 900px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  background-color: #fff;
}
.left{
  width: 275px;
  height: 275px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid black;
}

.form{
  height: 100%;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr;
}
.form-container{
  display: flex;
  flex-direction: column;
}

button{
  border: 0;
  border-radius: 5px;
  height: 2em;
}

.formas{
  position: absolute;
  top: 0;
  right: calc(100% - 70%);
  width: 400px;
  height: 0;
  border-top: 100px solid rgba(0, 0, 0, .8);
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}
.formas-left{
  position: absolute;
  top: calc(100% - 70%);
  width: 0;
  height: 200px;
  border-top: 50px solid transparent;
  border-left: 100px solid rgba(0, 0, 0, .8);
  border-bottom: 50px solid transparent;
}
.formas-right{
  position: absolute;
  top: calc(100% - 70%);
  right: 0;
  width: 0;
  height: 200px;
  border-top: 50px solid transparent;
  border-right: 100px solid rgba(0, 0, 0, .8);
  border-bottom: 50px solid transparent;
}

.hide{
  position: absolute;
  top: 5px;
  right: 15px;
}

.fixed-overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}