:root{
  --borde: 1px solid #000;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container{
  width: 585px;
  display: flex;
}
.container ul{
  display: grid;
  grid-row-gap: 8px;
  padding-left: 0;
  font-size: 1.2em;
}
.container li{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px orangered solid;
  border-right: 0;
  border-left: 0;
  cursor: pointer;
}
.selected{
  border: 2px orangered solid;
  background-color: lightblue;
}

.main{
  border: var(--borde);
  width: 650px;
  height: 370px;
  color: #fff;
  font-weight: 600;
  background-color: rgb(0, 0, 0, .9);
  border-radius: 5px;
  border: 2px orangered solid;
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-template-rows: 63px 1fr;
  grid-template-areas: "prime prime prime"
                       "list char  char"
                       "list char  char";
}
.header{
  grid-area: prime;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.header-info{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  text-decoration: underline;
}

.char-container{
  grid-area: char;
  display: flex;
  position: relative;
}
.char-container-char{
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
}

.lista-personajes{
  margin: 0;
  text-align: center;
  list-style: none;
  display: grid;
  grid-area: list;
  grid-template-columns: 1fr;
}

.char-img{
  grid-area: char;
  border-top-right-radius: 5px;
  height: 100%;
  width: 250px;
}

.info{
  grid-area: info;
  margin: 0 9px;
  height: 100%;
  display: grid;
}
.info p{
  margin: 0;
  display: flex;
}
.info span{
  padding: 0;
}

p span{
  display: block;
  padding-top: 15px;
  padding-left: 5px;
}

.fa-sync-alt{
  cursor: pointer;
  position: fixed;
  bottom: 15px;
  right: 15px;
  color: black;
  font-size: 35px;
}