:root{
  --borde: 1px solid #000;
}

body{
  /* width: 100%;
  height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.main{
  border: var(--borde);
  width: 500px;
  height: 500px;
}

.char-img{
  height: 250px;
  width: 250px;
}

.info{
  margin: 0 9px;
}

p span{
  display: block;
  padding-top: 15px;
  padding-left: 5px;
}