*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.swal-footer {
  background-color: rgb(255, 248, 250);
  margin-top: 32px;
  border-top: 1px solid #E9EEF1;
  overflow: hidden;
}

.swal-button {
  padding: 7px 19px;
  border-radius: 2px;
  background-color: #4962B3;
  font-size: 12px;
  border: 1px solid #3e549a;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

body{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.pad{
  /* height: 100vh; */
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows:  repeat(4, 90px);
  /* grid-row-gap: 10px; */
}

.btn {
  border-radius: 4px;
  background: #4962B3;
  font-size: 45px;
  outline: 0;
}
.title {
  font-size: 45px;
}
.poke_team{
  /* height: calc(100vh - 20px); */
  height: 100vh;
  width: 30vw;
  /* border: 1px solid #0000ff; */
  display: grid;
  justify-content: center;
  grid-template-columns: 250px;
  grid-template-rows: 6, 100px;
  grid-row-gap: 10px;
  overflow: hidden;
}

.pokemon_elegido{
  display: flex;
  width: 100%;
}

.info_pokemon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  font-size: 20px;
}

.poke_img{
  object-fit: contain;
}