*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-image: url("./hall.jpg");
  background-position: center;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  /* align-content: center; */
}

/*Piano css rules*/
.piano {
  display: flex;
}

/*Tiles css rules*/
.key {
  height: calc(var(--width) * 4);
  width: var(--width);
}

.white {
  --width: 100px;
  background-color: whitesmoke;
  border: 1px solid #333;
}

.black {
  --width: 60px;
  background-color: #000;
  border: 1px solid #333;
  margin: 0 calc(var(--width) / -2);
  z-index: 999;
}

/* Animations */
.white:active {
  background-color: #ccc;
}

.black:active {
  background-color: #333;
}

/* Media querys */
@media screen and (max-width: 1023px) {
}

@media screen and (max-width: 768px) {
  .white {
    --width: 60px;
  }

  .black {
    --width: 40px;
  }
}

@media screen and (max-width: 480px) {
  .white {
    --width: 40px;
  }

  .black {
    --width: 20px;
  }
}
