* {
  margin: 0;
}
body {
  height: 100vh;
  width: 100vw;
}

.piano {
  max-width: 850px;
  height: 65vh;
  display: grid;
  grid-column-gap: 5px;
  background-color: #000;
  box-shadow: 10px 5px 5px black;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 5px;
}
.info {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 999;
  width: 600px;
  visibility: hidden;
  display: flex;
  justify-content: space-evenly;
  color: #fff;
  background-color: #000;
}
.info-tiles {
  height: auto;
  width: 160px;
  overflow: auto;
  scroll-behavior: smooth;
  font-weight: bold;
}
.info-tiles ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 25px;
  list-style: none;
  padding: 0;
}
.info-tiles li {
  text-align: left;
}
.info-tiles::-webkit-scrollbar {
  display: none;
}
.instr {
  /* border: 1px solid #000; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.instr h3 {
  text-align: center;
}

.tile-case {
  position: relative;
  width: 100%;
  display: grid;
  border-radius: 5px;
  grid-template-columns: repeat(10, 1fr);
  background-color: #fff;
  border: 1px solid #000;
}

.tile {
  border: 1px solid #000;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.tile span {
  font-size: 2em;
  font-weight: 600;
}

.black-tiles {
  background-color: #000;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #fff;
}
.black-tiles span {
  font-size: 2em;
  font-weight: 600;
}

.black-tiles:active {
  transform: scale(1.1);
  transition-duration: 0.08s;
}

.extra-tiles {
  max-height: 15%;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: minmax(7em 15em);
}

.black-tiles-case {
  position: absolute;
  width: 100%;
}

.activated {
  border-left: 2px skyblue solid;
  border-bottom: 2px skyblue solid;
  border-right: 2px skyblue solid;
}

/* The media query starts here */

@media screen and (max-width: 1023px) {
}

@media screen and (max-width: 768px) {
  body {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .piano {
    transform: rotate(90deg);
  }
  .black-tiles-case {
    height: 3em;
  }
  .extra-tiles {
    grid-template-columns: repeat(8, 2em);
  }
}

@media screen and (max-width: 480px) {
  .extra-tiles {
    grid-template-columns: repeat(8, 2em);
  }
}
