*{
  margin: 0;
}
body{
  height: 100vh;
  display: grid;
  justify-content: center;
  grid-row-gap: 15px;
}


.piano{
  width: 1000px;
  height: 65vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5px;
  background-color: #000;
  box-shadow: 10px 5px 5px black;
  border-radius: 5px;
  overflow: hidden;
}
.info{
  display: flex;
  justify-content: space-evenly;
}
.info-tiles{
  height: auto;
  width: 160px;
  overflow: auto;
  scroll-behavior: smooth;
  font-weight: bold;
}
.info-tiles ul{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 25px;
  list-style: none;
  padding: 0;
}
.info-tiles li{
  text-align: left;
}
.info-tiles::-webkit-scrollbar{
  display: none;
}
.instr{
  /* border: 1px solid #000; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.instr h3{
  text-align: center;
}

.tile-case{
  position: relative;
  width: 100%;
  display: grid;
  border-radius: 5px;
  grid-template-columns: repeat(3, 1fr);
  background-color: #fff;
  border: 1px solid #000;
}

.tile-case-extra{
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-radius: 5px;
  background-color: #fff;
}

.tile{
  border: 1px solid #000;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.tile span{
  font-size: 2em;
  font-weight: 600;
}

.black-tile-case{
  position: absolute;
  right: 0;
  left: 0;
  top: -15px;
  bottom:45%;
  display: grid;
  grid-template-columns: repeat(2, 60px);
  justify-content: space-evenly;
}
.black-tile-case-extra{
  position: absolute;
  right: 0;
  left: 0;
  top: -15px;
  bottom:45%;
  display: grid;
  grid-template-columns: repeat(3, 60px);
  justify-content: space-evenly;
}

.black-tiles{
  background-color: #000;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #fff;
}
.black-tiles span{
  font-size: 2em;
  font-weight: 600;
}

.black-tiles:active{
  transform: scale(0.9);
  transition-duration: 0.08s;
}